{% extends "en/layout-en.html" %}

{% block title %}Check compliance - By Domain{% endblock %}
{% block pageid_en %}domains{% endblock %}
{% block pageid_fr %}domaines{% endblock %}
{% block description %}This dashboard reports how federal government websites and web services are meeting good web security practices, as outlined in Information Technology Policy Implementation Notice (ITPIN): Implementing HTTPS for Secure Web Connections.{% endblock description %}

{% block content %}


Error page

{% endblock %}
{% block languageURL %}/fr/404{% endblock %}

{% block breadcrumb %}
					{
					 title: "Track web security compliance",
                     href: "/en/index"
					}


{% endblock %}


{% block datemodified %}2019-04-23{% endblock %}