{% extends "fr/layout-fr.html" %}

{% block title %}Check compliance - By Domain{% endblock %}
{% block pageid_en %}domains{% endblock %}
{% block pageid_fr %}domaines{% endblock %}
{% block description %}This dashboard reports how federal government websites and web services are meeting good web security practices, as outlined in Information Technology Policy Implementation Notice (ITPIN): Implementing HTTPS for Secure Web Connections.{% endblock description %}

{% block content %}


Page d'erreur

{% endblock %}
{% block languageURL %}/en/404{% endblock %}

{% block breadcrumb %}
					{
					 title: "Suivre la conformité en matière de sécurité Web",
                     href: "/fr/index"
					}


{% endblock %}


{% block datemodified %}2019-04-23{% endblock %}</html>